@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Roboto, system-ui, sans-serif;
  }
}

body {
  background-color: #f5f5f5;
}

button:disabled {
  opacity: 0.7;
}